$font-Raleway: Raleway;
$font-OpenSans: Open Sans;
$primary-red: #FB3B64;
$primary-blue: #08A6E4;
$secondary-blue:#07ACE64A;
$primary-green: #55DFB4;
$primary-grey: #A5A5A5;
$secondary-grey:#F7F7F7;
$tertiary-grey:#707070;
$quart-grey:#95989A;
$checkbox-size: 1.4rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  width: 100%;
  header {
    display: block;
    height: 3.40rem;
    box-shadow: 0 0.2rem 0.4rem 0 #0000004A;
    padding: 0 0.7em;
    .oxygenshop {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5;
      margin-top: 0.5em;
      width: 68%;
      &__title{
        color: $primary-blue;
        font-family: $font-Raleway;
        font-weight: 300;
        font-size: 1.5em;
      }
    }
    .menu {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5;
      margin-top: 0.5em;
      width: 30%;
      text-align: right;
    }
  }
  main {
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    .intro{
      display: block;
      .sellmore {
        display: block;
        padding: 0 1.5rem;
        margin-top: 6rem;
        font-family: $font-OpenSans;
        &__title{
          display: block;
          font-weight: 400;
          font-family: $font-Raleway;
          font-size: 1.8em;
        }
        &__text{
          display: block;
          font-weight: 400;
          margin-top: 1.2em;
          font-size: 0.8em;
          padding: 0 0.4em;
        }
        &__button{
          display: block;
          font-weight: 700;
          margin-top: 2.5em;
          font-family: $font-OpenSans;
          border-radius: 2rem;
          color: white;
          background-color: $primary-blue;
          box-shadow: 0.3em 0.6em 0.8em 0 $secondary-blue;
          border: none;
          font-size: 0.8em;
          height: 2.8rem;
          width: 100%;
          text-align: center;
        }
      }
      .split-container {
        margin-top: 3.6rem;
        display: flex;
        justify-content: center;
      }
      .mostpopular {
        display: block;
        padding: 0 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 2.3rem;
        font-family: $font-OpenSans; 
        @media only screen and (min-width: 1000px) { 
          margin-bottom: 4.5rem; 
          margin-top: 1.5rem;
        }
        &__title {
          font-family: $font-Raleway;
          font-weight: 300;
          padding: 0 1.3em;
          font-size: 1.4em;
          @media only screen and (min-width: 1000px) {  
            margin-bottom: 2.5rem;
          }

        }
        &__content {
          @media only screen and (min-width: 1000px) {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.3;
            width: 30%;
            min-height: 10rem;
          }
          margin-top: 1.7rem;
          &__container{
            position: relative;
            margin-bottom: 0.7em;
            img{
              position: relative;
              width: 2.5em;
              height: 2.5em;
              margin-left: 3rem;
              z-index: 1;
            }
            .circle {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 50%;
              width: 3em;
              height: 3em;
              z-index: 0;
              &--red {
                background-color: $primary-red;
              }
              &--blue {
                background-color: $primary-blue;
              }
              &--green {
                background-color: $primary-green;
              }
            }
          }
          &__num {
            font-family: $font-Raleway;
            font-weight: 800;
            color: #000000;
            font-size: 1em;
            letter-spacing: 0.3em;
          }
          &__text {
            font-family: $font-Raleway;
            font-weight: 400;
            color:$primary-grey;
            font-size: 0.8em;
            padding: 0 6em;
            margin-top: 1.3em;
            white-space: nowrap;
          }
        }
      }
    }
    .middleintro {
      padding: 0 1.5rem;
      padding-top: 0.1rem;
      padding-bottom: 2.1rem;
      display: block;
      background-color: $secondary-grey;
      &__content {
        display: block;
        margin-top: 2rem;
        background-color: white;
        text-align: left;
        padding-top: 0.5em;
        min-height: 0;
        @media only screen and (min-width: 1000px) {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          max-width: 1124px;
          min-height: 17rem;
        }
        &__description {
          position: relative;
          display: block;
          order:2;
          @media only screen and (min-width: 1000px) {
            flex: 1;
          }
          &--reverse-order{
            @media only screen and (min-width: 1000px) {
              order:1;
            }
          }
          &__title{
            font-family: $font-Raleway;
            font-weight: 400;
            font-size: 1.3em;
            padding: 1rem 1rem 0 1rem;
            color: #000000;
            @media only screen and (min-width: 1000px) {
              font-size: 1.5em;
            }
          }
          &__text{
            font-family: $font-Raleway;
            font-weight: 400;
            font-size: 0.7em;
            padding: 1rem;
            padding-top: 2.5rem;
            @media only screen and (min-width: 1000px) {
              font-size: 0.8em;
              padding-right: 4rem;  
              padding-top: 0;
            }
            color: #000000;
          }
        }
        &__ilustration {
          position: relative;
          display: block;
          margin-left: 22%;
          min-height: 4.5rem;
          margin-top: 8%;
          order:1;
          @media only screen and (min-width: 1000px) {
            flex: 1;
            display: flex;
            justify-content: center;
            margin: 0;
          }
          &--reverse-order{
            @media only screen and (min-width: 1000px) {
              order:2;
            }
          }
          &__container{
            position: relative;
            display: block;
            max-width: 9rem;
            @media only screen and (min-width: 1000px) {
              max-width: 18rem;
              margin-top: 3rem;
            }
            &__macbook{
              position: relative;
              width: 100%;
              height: auto;
              z-index: 1;
            }
            &__iPhone {
              position: relative;
              width: 100%;
              height: auto;
              z-index: 1;
            }
            &__trumpet {
              position: absolute;
              top: 70%;
              left: 40%;
              transform: translate(-50%, -50%);
              z-index: 1;
              width: 13rem;
              height: auto;
            }
            &__redstain{
              position: absolute;
              top: -15%;
              left: 65%;
              transform: translate(-50%, -50%);
              transform: rotate(45deg);
              border-radius: 45%;
              z-index: 0;
              width: 3.5rem;
              height: 3.5rem;
              background-color:$primary-red;
              @media only screen and (min-width: 1000px) {
                width: 7rem;
                height: 7rem;
                border-radius: 15%;
              }
            }
            &__bluestain{
              position: absolute;
              top: 40%;
              left: 35%;
              transform: translate(-50%, -50%);
              border-radius: 50%;
              z-index: 0;
              width: 6.5rem;
              height: 6.5rem;
              background-color:$primary-blue;
              @media only screen and (min-width: 1000px) {
                width: 13rem;
                height: 13rem;
              }
            }
            &__greenstain{
              margin-top: 0.7em;
              width: 100%;
              height: 8em;
              background-color:$primary-green;
            }
          }
        }
      }
    }
    .pricing {
      padding: 0.1rem 1.5rem 1rem 1.5rem;
      &__title {
        font-family: $font-Raleway;
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 2.7rem;
        margin-bottom: 0.5rem;
      }
      &__container{
        position: relative;
        display: block;
        border-radius: 1.4rem;
        margin-bottom: 3rem;
        padding: 0 0.5rem;
        padding-bottom: 1rem;
        height: 13rem;
        &--red {
          border: 1px solid $primary-red;
        }
        &--blue {
          border: 1px solid $primary-blue;
        }
        &--green {
          border: 1px solid $primary-green;
        }
        &__subscription {
          position: relative;
          display: block;
          height: 100%;
          &__type {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.5;
            width: 48%;
            &__title {
              font-family: $font-Raleway;
              font-weight: 700;
              font-size: 0.9em;
              color: #000;
            }
            &__price{
              font-family: $font-OpenSans;
              font-weight: 300;
              font-size: 2.4em;
              &--red {
                color: $primary-red;
              }
              &--blue {
                color: $primary-blue;
              }
              &--green {
                color: $primary-green;
              }
            }
            &__text{
              font-family: $font-Raleway;
              font-weight: 700;
              color: #000;
              font-size: 0.6em;
            }
          }
          &__features {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.5;
            width: 48%;
            &__list{
             list-style-type: none;
             margin-top: 1rem;
             img{
              margin-right: 0.5em;
             }
             &__item{
              font-family: $font-OpenSans;
              font-weight: 400;
              color: #000000;
              font-size: 0.7em;
              text-align: left;
              margin-bottom: 1rem;
             }
            }
          }
        }
        &__button{
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 2.5rem;
          width: 7.5rem;
          border-radius: 2rem;
          border: none;
          color: white;
          font-family: $font-OpenSans;
          font-weight: 700;
          font-size: 0.7rem;
          &--red {
            background-color: $primary-red;
          }
          &--blue {
            background-color: $primary-blue;
          }
          &--green {
            background-color: $primary-green;
          }
        }
      }
    }
    .contact{
      padding: 0.1rem 1.5rem 1rem 1.5rem;
      text-align: left;
      &__title {
        font-family: $font-Raleway;
        font-weight: 400;
        color: #000;
        font-size: 2.1rem;
        margin-bottom: 0.3rem;
      }
      &__text {
        font-family: $font-OpenSans;
        font-weight: 400;
        color: #000;
        font-size: 0.8rem;
        margin-bottom: 2rem;
      }
      &__details {
        display: block;
        text-align: left;
        margin-bottom: 0.7rem;
        img {
          display: inline-block;
          vertical-align: middle;
          line-height: 1.5;
          margin-right: 0.4em;
          width: 1.35em;
          height: 1.35em;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          line-height: 1.5;
          font-family: $font-OpenSans;
          font-weight: 600;
          color: $primary-grey;
          font-size: 0.7rem;
        }
      }
      &__form{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        position: relative;
        display: block;
        &__label{
          font-family: $font-OpenSans;
          font-weight: 600;
          color:$primary-blue;
          font-size: 0.65rem;
          letter-spacing: 0.2em;
        }
        &__input {
          width: 100%;
          border:none;
          border-bottom: 1px solid $quart-grey;
          margin-bottom: 2.2rem;
          margin-top: 1.2rem;
        }
        &__checkbox{
          position: absolute;
          opacity: 0;
          // Text
          & + label{
            display: inline-block;
            position: relative;
            cursor: pointer;
            line-height: $checkbox-size;
            padding-left: $checkbox-size + 0.7rem;
            font-size: 0.6rem;
            font-family: sans-serif;
            color: $tertiary-grey; 
            
            // Checkbox
            &:before{
              position: absolute;
              display: block;
              left: 0;
              top: 0.5rem;
              content: "";
              background: transparent;
              width: $checkbox-size;
              height: $checkbox-size;
              box-shadow: inset 0 0 0 1px $quart-grey;
              border-radius: 0.3rem;
              transition: 200ms ease-in-out all;
            }
            
            // Tick
            &:after{
              position: absolute;
              display: block;
              top: 0.7rem;
              left: 0.55rem;
              content: "";
              width: 0.3rem;
              height: 0.75rem;
              border-right: 2px solid transparent;
              border-bottom: 2px solid transparent;
              transform: rotate(45deg);
              transition: 200ms ease-in-out all;
            }
          }
          
          // Checked
          &:checked{
            & + label{
              &:before{
                background: white;
              }
              &:after{
                border-color: $primary-blue;
              }
            }
          }
        }
        &__button{
          display: block;
          font-weight: 700;
          margin-top: 2.5em;
          border-radius: 2rem;
          font-family: $font-OpenSans;
          color: white;
          background-color: $primary-blue;
          box-shadow: 0.2rem 0.3rem 0.4rem 0 $secondary-blue;
          border: none;
          font-size: 0.7em;
          height: 2.3rem;
          width: 70%;
          margin-left: 30%;
        }
      }
      
    }
  }
  footer {
    position: relative;
    display: block;
    height: 4rem;
    box-shadow: 0 -0.3rem 2.4rem 0 #00000033;
    padding: 0.7em;
    .oxygenshop {
      position: relative;
      display: inline-block;
      vertical-align: middle; 
      line-height: 1;
      width: 63%;
      &__title{
        color: $primary-blue;
        font-family: $font-Raleway;
        font-weight: 300;
        font-size: 1.5em;
      }
      &__rights {
        font-family: $font-OpenSans;
        font-weight: 400;
        font-size: 0.6em;
        color: $primary-grey;
      }
    }
    .media {
      position: relative;
      display: inline-block;
      width: 35%; 
      vertical-align: middle; 
      line-height: 1; 
      text-align: right;
      img{
        position: relative;
        display: inline-block;
        vertical-align: middle; 
        line-height: 1.5;
        margin-left: 0.35rem;
      }
    }
  }
}
