@import "styles/contact.scss";
@import "styles/footer.scss";
@import "styles/header.scss";
@import "styles/whyus.scss";
@import "styles/benefits.scss";
@import "styles/pricing.scss";
@import "styles/variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  width: 100%;
  position: relative;
}
main {
  display: block;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.percentage-scroller {
  display: block;
  position: fixed;
  top:0;
  left: 0;
  width: 0;
  height: 0.2em;
  background-color: $primary-blue;
  z-index: 3;
  transition: width 0.3s ease; 
}
.scroll-top-button {
  position: fixed;
  bottom: 12%;
  left: 2%;
  display: block;
  font-weight: 600;
  border-radius: 50%;
  font-family: $font-OpenSans;
  color: white;
  background-color: $primary-grey;
  box-shadow: 0 0.1em 0.2em 0 $primary-grey;
  border: none;
  font-size: 1.05rem;
  font-weight: 600;
  z-index: 3;
  transition: opacity 0.6s ease;
  opacity: 0;
  width: 1.6em;
  height: 1.6em;
  &__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  @media only screen and (min-width: 1000px) {
    cursor: pointer;
    transition: background-color 0.3s opacity 0.6s ease;
    &:hover {
      background-color: $tertiary-blue;
    }
  }
}

.boxshadow-disabled {
  box-shadow: none;
}

.disabled {
  display: none;
}
