* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  min-width: 320px;
  width: 100%;
}
body header {
  display: flex;
  width: 100%;
  align-items: center;
  height: 3.4rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
body header .title {
  display: block;
  margin-left: 25px;
  width: 85%;
}
body header .title h1 {
  color: #08A6E4;
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.5em;
}
body main {
  display: block;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
body main .intro {
  display: block;
}
body main .intro .sellmore {
  display: block;
  padding: 0 1.5rem;
  margin-top: 6rem;
  font-family: Open Sans;
}
body main .intro .sellmore__title {
  display: block;
  font-weight: 400;
  font-family: Raleway;
  font-size: 1.8em;
}
body main .intro .sellmore__text {
  display: block;
  font-weight: 400;
  margin-top: 1.2em;
  font-size: 0.8em;
  padding: 0 0.4em;
}
body main .intro .sellmore__button {
  display: block;
  font-weight: 700;
  margin-top: 2.5em;
  font-family: Open Sans;
  border-radius: 2rem;
  color: white;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border: none;
  font-size: 0.8em;
  height: 2.8rem;
  width: 100%;
}
body main .intro .split-container {
  margin-top: 3.6rem;
  display: flex;
  justify-content: center;
}
body main .intro .mostpopular {
  display: block;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2.3rem;
  font-family: Open Sans;
}
body main .intro .mostpopular__title {
  font-family: Raleway;
  font-weight: 300;
  padding: 0 1.3em;
  font-size: 1.4em;
}
body main .intro .mostpopular__content {
  margin-top: 1.7rem;
}
body main .intro .mostpopular__content__container {
  position: relative;
  margin-bottom: 0.7em;
}
body main .intro .mostpopular__content__container img {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  margin-left: 50px;
  z-index: 1;
}
body main .intro .mostpopular__content__container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  z-index: 0;
}
body main .intro .mostpopular__content__container .circle--red {
  background-color: #FB3B64;
}
body main .intro .mostpopular__content__container .circle--blue {
  background-color: #08A6E4;
}
body main .intro .mostpopular__content__container .circle--green {
  background-color: #55DFB4;
}
body main .intro .mostpopular__content__num {
  font-family: Raleway;
  font-weight: 800;
  color: #000000;
  font-size: 1em;
  letter-spacing: 0.3em;
}
body main .intro .mostpopular__content__text {
  font-family: Raleway;
  font-weight: 400;
  color: #A5A5A5;
  font-size: 0.8em;
  padding: 0 6em;
  margin-top: 1em;
}
body main .middleintro {
  padding: 0 1.5rem;
  padding-top: 0.1rem;
  padding-bottom: 2.1rem;
  display: block;
  background-color: #F7F7F7;
}
body main .middleintro__content {
  display: block;
  margin-top: 2rem;
  background-color: white;
  text-align: left;
  padding-top: 0.5em;
}
body main .middleintro__content__title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.3em;
  padding: 1rem 1rem 0 1rem;
  color: #000000;
}
body main .middleintro__content__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.7em;
  padding: 1rem;
  color: #000000;
}
body main .middleintro__content__container {
  position: relative;
}
body main .middleintro__content__container__macbook {
  position: relative;
  margin-top: 10%;
  width: 7rem;
  height: auto;
  margin-left: 25%;
  z-index: 1;
}
body main .middleintro__content__container__iPhone {
  position: relative;
  width: 8rem;
  height: auto;
  margin-left: 32%;
  z-index: 1;
}
body main .middleintro__content__container__trumpet {
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 13rem;
  height: auto;
}
body main .middleintro__content__container__redstain {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
  border-radius: 43%;
  z-index: 0;
  width: 3.5em;
  height: 3.5em;
  background-color: #FB3B64;
}
body main .middleintro__content__container__bluestain {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
  width: 5.5em;
  height: 5.5em;
  background-color: #08A6E4;
}
body main .middleintro__content__container__greenstain {
  margin-top: 0.7em;
  width: 100%;
  height: 8em;
  background-color: #55DFB4;
}
body main .pricing {
  padding: 0.1rem 1.5rem 1rem 1.5rem;
}
body main .pricing__title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 2.7rem;
  margin-bottom: 0.5rem;
}
body main .pricing__container {
  position: relative;
  display: block;
  border-radius: 20px;
  margin-bottom: 3rem;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
  height: 250px;
}
body main .pricing__container--red {
  border: 1px solid #FB3B64;
}
body main .pricing__container--blue {
  border: 1px solid #08A6E4;
}
body main .pricing__container--green {
  border: 1px solid #55DFB4;
}
body main .pricing__container__subscription {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body main .pricing__container__subscription__type {
  flex: 1;
}
body main .pricing__container__subscription__type__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 0.9em;
  color: #000;
}
body main .pricing__container__subscription__type__price {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 2.4em;
}
body main .pricing__container__subscription__type__price--red {
  color: #FB3B64;
}
body main .pricing__container__subscription__type__price--blue {
  color: #08A6E4;
}
body main .pricing__container__subscription__type__price--green {
  color: #55DFB4;
}
body main .pricing__container__subscription__type__text {
  font-family: Raleway;
  font-weight: 700;
  color: #000;
  font-size: 0.6em;
}
body main .pricing__container__subscription__features {
  flex: 1;
}
body main .pricing__container__subscription__features__list {
  list-style-type: none;
  margin-top: 1rem;
}
body main .pricing__container__subscription__features__list img {
  margin-right: 5px;
}
body main .pricing__container__subscription__features__list__item {
  font-family: Open Sans;
  font-weight: 400;
  color: #000000;
  font-size: 0.7em;
  text-align: left;
  margin-bottom: 1rem;
}
body main .pricing__container__button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: none;
  color: white;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 0.7rem;
}
body main .pricing__container__button--red {
  background-color: #FB3B64;
}
body main .pricing__container__button--blue {
  background-color: #08A6E4;
}
body main .pricing__container__button--green {
  background-color: #55DFB4;
}
body main .contact {
  padding: 0.1rem 1.5rem 1rem 1.5rem;
  text-align: left;
}
body main .contact__title {
  font-family: Raleway;
  font-weight: 400;
  color: #000;
  font-size: 2.1rem;
  margin-bottom: 0.3rem;
}
body main .contact__text {
  font-family: Open Sans;
  font-weight: 400;
  color: #000;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
body main .contact__details {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0.7rem;
}
body main .contact__details img {
  margin-right: 0.4em;
  width: 1.35em;
  height: 1.35em;
}
body main .contact__details span {
  font-family: Open Sans;
  font-weight: 600;
  color: #A5A5A5;
  font-size: 0.7rem;
}
body main .contact__form {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  position: relative;
  display: block;
}
body main .contact__form__label {
  font-family: Open Sans;
  font-weight: 600;
  color: #08A6E4;
  font-size: 0.65rem;
  letter-spacing: 0.2em;
}
body main .contact__form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #95989A;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}
body main .contact__form__checkbox {
  position: absolute;
  opacity: 0;
}
body main .contact__form__checkbox + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 1.4rem;
  padding-left: 2.1rem;
  font-size: 0.6rem;
  font-family: sans-serif;
  color: #707070;
}
body main .contact__form__checkbox + label:before {
  position: absolute;
  display: block;
  left: 0;
  top: 0.5rem;
  content: "";
  background: transparent;
  width: 1.4rem;
  height: 1.4rem;
  box-shadow: inset 0 0 0 1px #95989A;
  border-radius: 4px;
  transition: 200ms ease-in-out all;
}
body main .contact__form__checkbox + label:after {
  position: absolute;
  display: block;
  top: 0.7rem;
  left: 0.55rem;
  content: "";
  width: 0.3rem;
  height: 0.75rem;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
  transition: 200ms ease-in-out all;
}
body main .contact__form__checkbox:checked + label:before {
  background: white;
}
body main .contact__form__checkbox:checked + label:after {
  border-color: #08A6E4;
}
body main .contact__form__button {
  display: block;
  font-weight: 700;
  margin-top: 2.5em;
  border-radius: 2rem;
  font-family: Open Sans;
  color: white;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border: none;
  font-size: 0.7em;
  height: 2.3rem;
  width: 70%;
  margin-left: 30%;
}
body footer {
  display: flex;
  width: 100%;
  align-items: center;
  height: 4rem;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
}
body footer .title {
  display: block;
  margin-left: 25px;
  width: 85%;
}
body footer .title h1 {
  color: #08A6E4;
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.5em;
}
body footer .title span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 0.6em;
  color: #A5A5A5;
}
body footer img {
  margin-right: 8px;
}/*# sourceMappingURL=styles.css.map */