.benefits {
  position: relative;
}
.benefits > div {
  padding: 3em 0;
}
.benefits:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F7F7F7;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.benefits__content {
  position: relative;
  display: block;
  margin-top: 2em;
  background-color: white;
  text-align: left;
  padding-top: 0.5em;
  min-height: 0;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
}
.benefits__content__description {
  position: relative;
  display: block;
  background-color: white;
  padding: 0 1em;
}
.benefits__content__description__title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000000;
}
.benefits__content__description__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.7rem;
  margin-top: 1.5em;
  padding-bottom: 1.5em;
  color: #000000;
}
.benefits__content__description__vector {
  min-height: 0.2rem;
  width: 75%;
  display: none;
}
.benefits__content__description__vector--red {
  background-color: #FB3B64;
}
.benefits__content__description__vector--blue {
  background-color: #08A6E4;
}
.benefits__content__description__vector--green {
  background-color: #55DFB4;
}
.benefits__content__ilustration {
  position: relative;
  display: block;
  margin-left: 22%;
  min-height: 4.5rem;
  margin-top: 8%;
  height: 100%;
}
.benefits__content__ilustration--third {
  margin: 0;
}
.benefits__content__ilustration__container {
  position: relative;
  display: block;
  max-width: 9rem;
}
.benefits__content__ilustration__container--third {
  min-width: 100%;
}
.benefits__content__ilustration__container__macbook {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}
.benefits__content__ilustration__container__iPhone {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}
.benefits__content__ilustration__container__trumpet {
  position: absolute;
  top: 75%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 15.5rem;
  height: auto;
}
.benefits__content__ilustration__container__redstain {
  position: absolute;
  top: -15%;
  left: 65%;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
  border-radius: 45%;
  z-index: 0;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #FB3B64;
}
.benefits__content__ilustration__container__bluestain {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
  width: 6.5rem;
  height: 6.5rem;
  background-color: #08A6E4;
}
.benefits__content__ilustration__container__greenstain {
  width: 100%;
  height: 11em;
  background-color: #55DFB4;
}

@media only screen and (min-width: 1000px) {
  .benefits__content {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 17rem;
    height: 17rem;
    max-width: 50rem;
  }
  .benefits__content--third {
    background-color: transparent;
  }
  .benefits__content__description {
    flex: 1;
    padding: 2em;
    padding-right: 0.5em;
    min-height: 100%;
  }
  .benefits__content__description--reverse-order {
    order: 1;
  }
  .benefits__content__description--third {
    height: 100%;
    flex: 1.25;
    padding-right: 5%;
  }
  .benefits__content__description__title {
    font-size: 1.5rem;
    padding: 0;
  }
  .benefits__content__description__text {
    font-size: 0.8rem;
    padding: 0;
    margin-top: 2em;
    padding-right: 4.5em;
  }
  .benefits__content__description__vector {
    margin-top: 2.5em;
    display: block;
  }
  .benefits__content__ilustration {
    flex: 1.5;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .benefits__content__ilustration--third {
    flex: 1;
  }
  .benefits__content__ilustration--reverse-order {
    order: 2;
  }
  .benefits__content__ilustration__container {
    max-width: 18rem;
    margin-top: 3em;
  }
  .benefits__content__ilustration__container--third {
    margin: 0;
    max-width: 0;
    padding-left: 10%;
  }
  .benefits__content__ilustration__container__trumpet {
    top: 55%;
    left: 50%;
  }
  .benefits__content__ilustration__container__redstain {
    width: 7rem;
    height: 7rem;
    border-radius: 15%;
  }
  .benefits__content__ilustration__container__bluestain {
    width: 13rem;
    height: 13rem;
  }
  .benefits__content__ilustration__container__greenstain {
    height: 100%;
    margin: 0;
  }
}/*# sourceMappingURL=benefits.css.map */