@import "variables";
.benefits {
  padding: 0 1.5em;
  padding-top: 0.1em;
  padding-bottom: 2.1em;
  display: block;
  background-color: $secondary-grey;
  &__content {
    position: relative;
    display: block;
    margin-top: 2em;
    background-color: white;
    text-align: left;
    padding-top: 0.5em;
    min-height: 0;
    max-width:$max-width-phone;
    margin-left: auto;
    margin-right: auto;
    &--third {
      @media only screen and (min-width: 1000px) {
        background-color: transparent;
      }
    }
    @media only screen and (min-width: 1000px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 17rem;
      height: 17rem;
      max-width: $max-width-computer;
    }
    &__description {
      position: relative;
      display: block;
      background-color: white;
      padding: 0 1em;
      @media only screen and (min-width: 1000px) {
        flex: 1;
        padding: 2em;
        padding-right: 0.5em;
        min-height: 100%;
      }
      &--reverse-order{
        @media only screen and (min-width: 1000px) {
          order:1;
        }
      }
      &--third {
        @media only screen and (min-width: 1000px) { 
          height: 100%;
          flex: 1.25;
          padding-right: 5%;
        }
      }
      &__title{
        font-family: $font-Raleway;
        font-weight: 400;
        font-size: 1.2rem;
        color: #000000;
        @media only screen and (min-width: 1000px) {
          font-size: 1.5rem;
          padding: 0;
        }
      }
      &__text{
        font-family: $font-Raleway;
        font-weight: 400;
        font-size: 0.5rem;
        margin-top: 1.5em;
        padding-bottom: 1.5em;
        @media only screen and (min-width: 1000px) {
          font-size: 0.7rem;
          padding: 0;
          margin-top: 2em;
        }
        color: #000000;
      }
      &__vector {
        min-height: 0.20rem;
        width: 75%;
        display: none;
        @media only screen and (min-width: 1000px) {
          margin-top: 2.5em;
          display: block;
        }
        &--red{
          background-color: $primary-red;
        }
        &--blue{
          background-color: $primary-blue;
        }
        &--green{
          background-color: $primary-green;
        }
      }
    }
    &__ilustration {
      position: relative;
      display: block;
      margin-left: 22%;
      min-height: 4.5rem;
      margin-top: 8%;
      height: 100%;
      @media only screen and (min-width: 1000px) {
        flex: 1.5;
        display: flex;
        justify-content: center;
        margin: 0;
      }
      &--third {
        margin: 0;
        @media only screen and (min-width: 1000px) {
          flex: 1;
        }
      }
      &--reverse-order{
        @media only screen and (min-width: 1000px) {
          order:2;
        }
      }
      &__container{
        position: relative;
        display: block;
        max-width: 9rem;
        @media only screen and (min-width: 1000px) {
          max-width: 18rem;
          margin-top: 3em;
        }
        &--third{
          min-width: 100%;
          @media only screen and (min-width: 1000px) {
            margin: 0;
            max-width: 0;
            padding-left: 10%;
          }
        }
        &__macbook{
          position: relative;
          width: 100%;
          height: auto;
          z-index: 1;
        }
        &__iPhone {
          position: relative;
          width: 100%;
          height: auto;
          z-index: 1;
        }
        &__trumpet {
          position: absolute;
          top: 75%;
          left: 45%;
          transform: translate(-50%, -50%);
          z-index: 1;
          width: 15.5rem;
          height: auto; 
          @media only screen and (min-width: 1000px) {
            top: 55%;
            left: 50%;
          }
        }
        &__redstain{
          position: absolute;
          top: -15%;
          left: 65%;
          transform: translate(-50%, -50%);
          transform: rotate(45deg);
          border-radius: 45%;
          z-index: 0;
          width: 3.5rem;
          height: 3.5rem;
          background-color:$primary-red;
          @media only screen and (min-width: 1000px) {
            width: 7rem;
            height: 7rem;
            border-radius: 15%;
          }
        }
        &__bluestain{
          position: absolute;
          top: 40%;
          left: 35%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          z-index: 0;
          width: 6.5rem;
          height: 6.5rem;
          background-color:$primary-blue;
          @media only screen and (min-width: 1000px) {
            width: 13rem;
            height: 13rem;
          }
        }
        &__greenstain{
          width: 100%;
          height: 8em;
          background-color:$primary-green;
          @media only screen and (min-width: 1000px) {
            height: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}