footer {
  position: relative;
  display: block;
  height: 4rem;
  box-shadow: 0 -0.3rem 2.4rem 0 #00000033;
  padding: 0.7em;
  @media only screen and (min-width: 1000px) {
    padding: 0.7em 4.7em;
  }
  .oxygenshop {
    position: relative;
    display: inline-block;
    vertical-align: middle; 
    line-height: 1;
    width: 63%;
    &__title{
      color: $primary-blue;
      font-family: $font-Raleway;
      font-weight: 300;
      font-size: 1.5em;
    }
    &__rights {
      font-family: $font-OpenSans;
      font-weight: 400;
      font-size: 0.6em;
      color: $primary-grey;
    }
  }
  .media {
    position: relative;
    display: inline-block;
    width: 35%; 
    vertical-align: middle; 
    line-height: 1; 
    text-align: right;
    img{
      position: relative;
      display: inline-block;
      vertical-align: middle; 
      line-height: 1.5;
      margin-left: 0.35rem;
    }
  }
}