@import "variables";
.header {
  position: relative;
  display: block;
  min-height: 20%;
  box-shadow: 0 0.2em 0.4em 0 #0000004A;
  padding: 0.5em;
  @media only screen and (min-width: 1000px) {
    padding-left: 3em;
    padding-right: 3em;
  }
  &__oxygenshop {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    width: 68%;
    &__title{
      color: $primary-blue;
      font-family: $font-Raleway;
      font-weight: 300;
      font-size: 1.5rem;
    }
  }
  &__menu {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    width: 30%;
    text-align: right;
  }
}