* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.percentage-scroller {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0.2em;
  background-color: #08A6E4;
  z-index: 3;
  transition: width 0.3s ease;
}

.scroll-top-button {
  position: fixed;
  bottom: 12%;
  right: 4%;
  display: block;
  font-weight: 600;
  border-radius: 50%;
  font-family: Open Sans;
  color: white;
  background-color: #A5A5A5;
  box-shadow: 0 0.1em 0.2em 0 #A5A5A5;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  z-index: 3;
  transition: opacity 0.6s ease;
  opacity: 0;
  width: 2.25em;
  height: 2.25em;
}
.scroll-top-button__text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.783);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  display: block;
  background-color: white;
  border-radius: 1em;
  width: 98%;
  height: auto;
  padding: 1em;
}
.modal__close-button {
  position: relative;
  cursor: pointer;
  text-align: right;
}
.modal__title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.modal__form {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 0.25em;
  padding-left: 0.8em;
}
.modal__form__label {
  font-family: Open Sans;
  font-weight: 600;
  color: #08A6E4;
  font-size: 0.65rem;
  letter-spacing: 0.2em;
}
.modal__form__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.2em 0.4em;
  margin-bottom: 1.2em;
  margin-top: 0.6em;
  border: 1px solid transparent;
  border-bottom: 1px solid #95989A;
}
.modal__form__checkbox {
  position: absolute;
  opacity: 0;
}
.modal__form__checkbox + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 1.4rem;
  padding-left: 2.1rem;
  font-size: 0.6rem;
  font-family: sans-serif;
  color: #707070;
  margin-right: 1.5em;
}
.modal__form__checkbox + label:before {
  position: absolute;
  display: block;
  left: 0;
  top: 0.5rem;
  content: "";
  background: transparent;
  width: 1.4rem;
  height: 1.4rem;
  box-shadow: inset 0 0 0 1px #95989A;
  border-radius: 0.3em;
  border: 1px solid transparent;
}
.modal__form__checkbox + label:after {
  position: absolute;
  display: block;
  top: 0.7rem;
  left: 0.55rem;
  content: "";
  width: 0.3rem;
  height: 0.75rem;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
  transition: 200ms ease-in-out all;
}
.modal__form__checkbox:checked + label:before {
  background: white;
}
.modal__form__checkbox:checked + label:after {
  border-color: #08A6E4;
}
.modal__form__button {
  display: block;
  font-weight: 700;
  margin-top: 2.5em;
  border-radius: 2em;
  font-family: Open Sans;
  color: white;
  background-color: #08A6E4;
  box-shadow: 0.2em 0.3em 0.4em 0 rgba(7, 172, 230, 0.2901960784);
  border: none;
  font-size: 0.7rem;
  padding: 1em 0;
  width: 70%;
  margin-left: 30%;
}

.boxshadow-disabled {
  box-shadow: none;
}

.disabled {
  display: none;
}

.feedback {
  border-radius: 0.3em;
}
.feedback--error {
  border: 1px solid #FB3B64;
}
.feedback--error + label:before {
  border: 1px solid #FB3B64;
  box-shadow: none;
}
.feedback--success {
  border: 1px solid #00e19a;
}
.feedback--success + label:before {
  border: 1px solid #00e19a;
  box-shadow: none;
}

@media only screen and (min-width: 1000px) {
  .scroll-top-button {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out opacity 0.6s ease-in-out;
    width: 2.5em;
    height: 2.5em;
    font-size: 1.4rem;
    font-weight: bolder;
  }
  .scroll-top-button:hover {
    background-color: #088ce4;
  }
  .modal {
    width: 50%;
    padding: 1em 1.5em;
  }
  .modal__close-button {
    margin-bottom: 0.5em;
  }
  .modal__title {
    margin-bottom: 1.5em;
    font-size: 1.5rem;
  }
  .modal__form {
    margin-bottom: 0.8em;
  }
  .modal__form__input {
    margin-bottom: 2.2em;
    margin-top: 1.2em;
  }
  .modal__form__button {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .modal__form__button:hover {
    background-color: #088ce4;
  }
}/*# sourceMappingURL=index.css.map */