.intro {
  display: block;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1000px) {
  .intro {
    max-width: 50rem;
  }
}
.intro .sellmore {
  display: block;
  padding: 0 1.5em;
  margin-top: 6em;
  font-family: Open Sans;
}
.intro .sellmore__title {
  display: block;
  font-weight: 400;
  font-family: Raleway;
  font-size: 1.8em;
}
.intro .sellmore__text {
  display: block;
  font-weight: 400;
  margin-top: 1.2em;
  font-size: 0.8rem;
  padding: 0 0.4em;
}
.intro .sellmore__button {
  display: block;
  font-weight: 700;
  margin-top: 2.5em;
  font-family: Open Sans;
  border-radius: 2em;
  color: white;
  background-color: #08A6E4;
  box-shadow: 0.3em 0.6em 0.8em 0 rgba(7, 172, 230, 0.2901960784);
  border: none;
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1000px) {
  .intro .sellmore__button {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .intro .sellmore__button:hover {
    background-color: #088ce4;
  }
}
.intro .split-container {
  margin-top: 3.6em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.intro .mostpopular {
  display: block;
  padding: 0 1.5em;
  margin-top: 0.5em;
  margin-bottom: 2.3em;
  font-family: Open Sans;
}
@media only screen and (min-width: 1000px) {
  .intro .mostpopular {
    margin-bottom: 4.5em;
    margin-top: 1.5em;
  }
}
.intro .mostpopular__title {
  font-family: Raleway;
  font-weight: 300;
  padding: 0 0.5em;
  font-size: 1.4rem;
}
@media only screen and (min-width: 1000px) {
  .intro .mostpopular__title {
    margin-bottom: 2.5em;
  }
}
.intro .mostpopular__content {
  margin-top: 1.7em;
}
@media only screen and (min-width: 1000px) {
  .intro .mostpopular__content {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3;
    width: 30%;
    min-height: 10rem;
  }
}
.intro .mostpopular__content__container {
  position: relative;
  margin-bottom: 0.7em;
}
.intro .mostpopular__content__container img {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  margin-left: 3em;
  z-index: 1;
}
.intro .mostpopular__content__container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  z-index: 0;
}
.intro .mostpopular__content__container .circle--red {
  background-color: #FB3B64;
}
.intro .mostpopular__content__container .circle--blue {
  background-color: #08A6E4;
}
.intro .mostpopular__content__container .circle--green {
  background-color: #55DFB4;
}
.intro .mostpopular__content__num {
  font-family: Raleway;
  font-weight: 800;
  color: #000000;
  font-size: 1rem;
  letter-spacing: 0.3em;
}
.intro .mostpopular__content__text {
  font-family: Raleway;
  font-weight: 400;
  color: #A5A5A5;
  font-size: 0.8rem;
  padding: 0 6em;
  margin-top: 1.3em;
  white-space: nowrap;
}/*# sourceMappingURL=intro.css.map */