@import "variables";

.nav {
  position: fixed;
  display: block;
  width: 100%;
  min-height: 7%;
  box-shadow: 0 0.4em 0.2em -0.2em #0000004A;
  padding-left: 1.25em;
  padding-right: 1em;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 2;
  backdrop-filter: blur(60px);
  @media only screen and (min-width: 1000px) {
    padding-left: 3em;
    padding-right: 3em;
  }
  &__oxygenshop {
    display: inline-block;
    vertical-align: middle;
    line-height: 2.4;
    width: 68%;
    @media only screen and (min-width: 1000px) {
      width: 100%;
      min-height: 100%;
    }
    &__title {
      color: $primary-blue;
      font-family: $font-Raleway;
      font-weight: 300;
      font-size: 1.5rem;
      display: block;
      width: 100%;
      @media only screen and (min-width: 1000px) {
        display: inline-block;
        width: 58%;
        height: 100%;
      }
    }
    &__section-list {
      display: block;
      width: 100%;
      padding-bottom: 0.3em;
      @media only screen and (min-width: 1000px) {
        display: inline-block;
        width: 40%;
        text-align: center;
        height: 100%;
        line-height: 3.2;
        padding: 0;
      }
      &__option {
        @media only screen and (min-width: 1000px) {
          display: inline-block;
          width: 24%;
          height: 100%;
          line-height: 4;
          &:hover{
            color: black;
          }
        }
        display: block;
        width: 100%;
        font-family: $font-OpenSans;
        font-weight: 700;
        font-size: 0.7rem;
        color: $primary-grey;
        cursor: pointer;
        &--active {
          color: black;
          border: none;
          transition: color 200ms ease border 200ms ease;
          @media only screen and (min-width: 1000px) {
            border-bottom: 4px solid $primary-blue;
          }
        }
      }
    }
  }

  &__menu {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: right;
    margin-top: 1.2em;
    @media only screen and (min-width: 1000px) {
      display: none;
      margin: 0;
    }
  }

}

