.pricing {
  padding: 0.1em 0 1em 0;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}
@media only screen and (min-width: 1000px) {
  .pricing {
    margin-top: 6em;
    max-width: 58rem;
  }
}
.pricing__title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 1000px) {
  .pricing__title {
    margin-bottom: 1.5em;
  }
}
.pricing__currency-selector {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 1000px) {
  .pricing__currency-selector {
    margin-bottom: 0.5em;
  }
}
.pricing__container {
  position: relative;
  display: block;
  border-radius: 1.4em;
  margin-bottom: 3em;
  padding: 0 0.5em;
  padding-bottom: 1em;
  height: 13rem;
  margin-left: 1em;
  margin-right: 1em;
}
@media only screen and (min-width: 1000px) {
  .pricing__container {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    width: 28%;
    height: 23rem;
    border-radius: 0.7em;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .pricing__container:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
}
.pricing__container--red {
  border: 1px solid #FB3B64;
  box-shadow: none;
}
@media only screen and (min-width: 1000px) {
  .pricing__container--red {
    transition: box-shadow 0.3s;
  }
  .pricing__container--red:hover {
    box-shadow: 0 0.3em 0.4em 0 rgba(251, 59, 100, 0.4);
  }
}
.pricing__container--blue {
  border: 1px solid #08A6E4;
  box-shadow: none;
}
@media only screen and (min-width: 1000px) {
  .pricing__container--blue {
    transition: box-shadow 0.3s;
  }
  .pricing__container--blue:hover {
    box-shadow: 0 0.3em 0.4em 0 rgba(8, 166, 228, 0.4);
  }
}
.pricing__container--green {
  border: 1px solid #55DFB4;
  box-shadow: none;
}
@media only screen and (min-width: 1000px) {
  .pricing__container--green {
    transition: box-shadow 0.3s;
  }
  .pricing__container--green:hover {
    box-shadow: 0 0.3em 0.4em 0 rgba(85, 223, 180, 0.4);
  }
}
.pricing__container__subscription {
  position: relative;
  display: block;
  height: 100%;
}
.pricing__container__subscription__type {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  width: 48%;
}
@media only screen and (min-width: 1000px) {
  .pricing__container__subscription__type {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 2em;
    min-height: 6.5rem;
  }
}
.pricing__container__subscription__type__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 0.9rem;
  color: #000;
}
@media only screen and (min-width: 1000px) {
  .pricing__container__subscription__type__title {
    margin-bottom: 0.5em;
  }
}
.pricing__container__subscription__type__price {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 2.4rem;
}
.pricing__container__subscription__type__price--red {
  color: #FB3B64;
}
.pricing__container__subscription__type__price--blue {
  color: #08A6E4;
}
.pricing__container__subscription__type__price--green {
  color: #55DFB4;
}
.pricing__container__subscription__type__text {
  font-family: Raleway;
  font-weight: 700;
  color: #000;
  font-size: 0.6rem;
}
.pricing__container__subscription__features {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  width: 48%;
  margin-top: 1.5em;
}
@media only screen and (min-width: 1000px) {
  .pricing__container__subscription__features {
    display: block;
    width: 100%;
    margin-top: 2em;
  }
}
.pricing__container__subscription__features__list {
  list-style-type: none;
  margin-top: 1em;
}
.pricing__container__subscription__features__list img {
  margin-right: 0.5em;
}
.pricing__container__subscription__features__list__item {
  font-family: Open Sans;
  font-weight: 400;
  color: #000000;
  font-size: 0.7rem;
  text-align: left;
  margin-bottom: 1em;
}
@media only screen and (min-width: 1000px) {
  .pricing__container__subscription__features__list__item {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.pricing__container__button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 3em;
  border-radius: 2em;
  border: none;
  color: white;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 0.75rem;
}
.pricing__container__button--red {
  background-color: #FB3B64;
}
@media only screen and (min-width: 1000px) {
  .pricing__container__button--red {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .pricing__container__button--red:hover {
    background-color: #ff2756;
  }
}
.pricing__container__button--blue {
  background-color: #08A6E4;
}
@media only screen and (min-width: 1000px) {
  .pricing__container__button--blue {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .pricing__container__button--blue:hover {
    background-color: #088ce4;
  }
}
.pricing__container__button--green {
  background-color: #55DFB4;
}
@media only screen and (min-width: 1000px) {
  .pricing__container__button--green {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .pricing__container__button--green:hover {
    background-color: #00e19a;
  }
}/*# sourceMappingURL=pricing.css.map */