$font-Raleway: Raleway;
$font-OpenSans: Open Sans;
$primary-red: #FB3B64;
$sencondary-red: #ff2756;
$primary-blue: #08A6E4;
$secondary-blue:#07ACE64A;
$tertiary-blue:#088ce4;
$primary-green: #55DFB4;
$sencondary-green: #00e19a;
$primary-grey: #A5A5A5;
$secondary-grey:#F7F7F7;
$tertiary-grey:#707070;
$quart-grey:#95989A;
$checkbox-size: 1.4rem;
$max-width-phone: 18rem;
$max-width-computer: 50rem;